{% extends 'store/layouts/base.html' %} {% block content %}

<div class="py-3" style="background-color: #ce0fa4; margin: 20px 0">
  <div style="color: white" class="my-container">
    <a style="color: white" href="{% url 'home' %}">Home /</a>
    <a style="color: white" href="{% url 'collections' %}"> Collections</a>
  </div>
</div>

<div class="collection-container">
  <h2 style="color: #530241; text-align: center; margin-bottom: 0">
    Collections
  </h2>
  <div class="hr"></div>
  <div class="collection-body">
  <div class="grid-container">
    {% for item in category %}
      <div class="collection-card">
        <a href="{% url 'collection_products' item.name%}">
          <div>
            <div class="category-image ml-auto">
              <img src="{{item.image.url}}" alt="Category Image" />
            </div>
            <p class="text-center mt-2 product-name">{{item.name}}</p>
            <p class="text-center view-product"><a href="{% url 'collection_products' item.name%}"><i style="color: #CE0FA4;" class="fa-solid fa-arrow-right"></i></a></p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
</div>

{% include 'store/inc/footer.html' %}
{% endblock content %}
