{% extends 'store/layouts/base.html' %}

{% block content %}
<div class="py-3" style="background-color: #ce0fa4; margin: 20px 0">
    <div style="color:white;" class="my-container">
    <a style="color:white;" href="{% url 'home' %}">Home /</a>
    <a style="color:white;" href="{% url 'orders' %}"> My Orders</a>
    </div>
</div>

<div class="my-container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="mb-0" >My Orders</h2>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order Date</th>
                                <th>Tracking No</th>
                                <th>Total Price</th>
                                <th>Order Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orders %}
                                <tr>
                                    <td>{{item.created_at}}</td>
                                    <td>{{item.tracking_number}}</td>
                                    <td>${{item.total_price|floatformat:2}}</td>
                                    <td>{{item.status}}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'view_order' item.tracking_number%}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}