<div>
  <div class="footer">
    <div class="footer-head">
      <div class="footer-brand">
        <h4>ColGra Clothing</h4>
        <p>
          A beautiful website by an impeccable developer and you can't wait to
          see it.
        </p>
      </div>

      <div class="store-information">
        <h4>Store Information</h4>
        <p>
          Hello World <br />
          Hope you're good <br />
          de Dream Team <br />
          Dream Means More
        </p>
      </div>
    </div>

    <div class="newsletter">
      <p class="sign-up-header">NEWSLETTER SIGNUP</p>
      <input
        class="newsletter-input"
        type="email"
        placeholder="email@email.com"
      />
      <a class="link-button" href="">Subscribe</a>
    </div>

    <div class="social-media">
        <a class="social-link" href="">Twitter</a>
        <a class="social-link" href="">Instagram</a>
        <a class="social-link" href="">Facebook</a>
        <a class="social-link" href="">TikTok</a>
    </div>

    <div class="copyright">
        <p class="copy-p">2022 &copy; All Rights Reserved. Powered by MSJ Advertising</p>
    </div>
  </div>
</div>
