{% load static %}
<div style="height:60vh;" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div style="height: 60vh;" class="carousel-item active">
        <img style="object-fit: cover" src="{% static 'images/site_images/web11.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div style="height: 60vh;" class="carousel-item">
        <img style="object-fit: cover" src="{% static 'images/site_images/web7.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div style="height: 60vh;" class="carousel-item">
        <img style="object-fit: cover" src="{% static 'images/site_images/we9.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>