{% comment %} {% extends 'store/layouts/base.html' %} {% endcomment %}

{% block content %}
<div class="about-hero">
    <iframe class="iframe" src="https://embed.lottiefiles.com/animation/75746"></iframe>
</div>

<div class="container">
    <h3>Let's tell you About Colgra</h3>
    <p style="font-size: 15px; color:grey;">and build trust</p>  
    <div class="custom-hr-left"></div> 

    <p style="margin-top: 30px;">
        Welcome to Colgra Clothing. <strong>#blackowned #madeinafrica #madeinghana</strong> <br> <br> Founded
        in 2019 by Samuel Andy Kellson, Colgra Clothing is an online African
        fashion store that caters to fashionable Afrocentric unisex clothing. <br> <br> We
        are a brand that transforms and creates high-quality modern and trendy
        looks using African textiles and wax prints. <br> <br> We take pride in each of our
        pieces being hand made in our production studio in West Africa Ghana with
        rich fabrics sourced from different parts of Africa. <br> <br> Colgra Clothing is a
        celebration of African culture, but not just for those with African
        heritage. It is a way to be bold, be proud, and express yourself, whoever
        you are.
      </p>

      <h3 style="margin-top:30px">Our Vision</h3>
      <div class="custom-hr-left"></div>
      <p style="margin-top: 30px;">To empower people to express themselves in a unique way.</p>

      <h3 style="margin-top:30px">Our Principles</h3>
      <div class="custom-hr-left"></div>
      <ul style="margin-top: 30px;">
        <li>Customer Centered</li>
        <li>Commitment to constant growth and development</li>
        <li>To innovate and simplify</li>
        <li>Cultivate a positive mindset</li>
        <li>It creates value within the community</li>
        <li>Commitment to teamwork and open communication</li>
      </ul>

      <p style="font-size: 15px; color:grey; margin-bottom: 0; margin-top: 30px;">We believe that You are</p>
      <h3 style="margin-top: 0;">The Best Version of You</h3>
      <p style="font-size: 15px; color:grey; margin-bottom: 0;">and</p>  
      <p>Colgra Clothing helps you celebrate the vibrant African culture, and feel connected to your roots with every garment.</p>

</div>

{% include 'store/inc/footer.html' %}
{% endblock content %}